{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style>
        body{
            font-family: 'Poppins', sans-serif;
            background-color: black;
            color: white;
        }
        #title{
            margin-top:20px;
            text-align: center;
            font-weight: 1000;
            color:#F5743B;
        }
        #tambah-playlist{
            text-align: center;
        }
        #outer-container{
            padding: 0 20vw 0 20vw;
        }
        .isian-playlist{
            text-align: start;
            padding: 10px;
        }

        #header-list-playlist div {
            text-align: center;
            
        }

        .grid-container{
            display: grid;
            grid-template-columns: 4fr 2fr 2fr 2fr;
        }
        #list-song div{
            text-align: center;
        }
        #list-song{
            padding: 0px 40px 0px 40px;
            margin-bottom: 30px;
        }
        .row{
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid white;
        }
        #navbar-header{
          background-color: #57504D;
        }
        .btn {
          border-color: #F5743B;
          background-color: #F5743B;
        }
        #tidak-ada-lagu-warning{
            margin: 50px 0 50px 0;
            text-align: center;
        }
            
    </style>
    <div class="container-fluid" id="outer-container">
        <div class="container-fluid" id="title">
            <h1>USER PLAYLIST</h1>
        </div>

        <div class="container-fluid" id="daftar-lagu">
            <div class="container-fluid" id="tidak-ada-lagu-warning">
                <h1>Anda belum memiliki playlist :((((</h1>
                <h5>Buat playlist dengan menekan tombol di bawah!</h5>
            </div>
        </div>

        <div class="container-fluid" id="tambah-playlist">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-tambah-playlist">Tambah Playlist</button>
        </div>


        <!-- Modal untuk menambahkan playlist -->
        <div class="modal fade" id="modal-tambah-playlist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Tambah Playlist</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row isian-playlist">
                                <div class="col-4"id="text-judul" style="color: black;">Judul</div>
                                <div class="col-8"><input name="judul" type="text" class="form-control" id="judul-playlist" placeholder="Judul Playlist"></div>
                            </div>
                            <div class="row isian-playlist">
                                <div class="col-4" style="color: black;">Deskripsi</div>
                                <div class="col-8"><input name="deskripsi" type="text" class="form-control" id="deskripsi-playlist" placeholder="Deskripsi Playlist"></div>
                            </div>
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" name="submit" value="create_new_playlist" class="btn btn-primary">Submit</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}